:root {
  --light-color: #fdf0d8;
  --medium-color: #f7c86b;
  --dark-color: #5c434d;
}

a:link {
  text-decoration: none;
  transition-duration: 500ms;
  color: var(--dark-color);
}

a:visited {
  text-decoration: none;
  color: var(--dark-color);
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.1);
}

a:active {
  text-decoration: none;
}

html {
  width: 100vw;
  font-family: "Arima", cursive;
}

body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container {
  width: 100%;
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.header-container > * {
  margin: 3%;
}

#logo-header {
  height: 10vh;
}

.search-bar {
  width: 90%;
  margin: auto;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid var(--dark-color) 1px;
  border-radius: 5px;
  padding: 1%;
}

#search-input {
  border: none;
  padding: 2%;
  width: 75%;
}

#loupe {
  height: 2vh;
  margin-right: 3%;
}

.login {
  background-color: var(--dark-color);
  color: var(--light-color);
  border-radius: 5px;
  border: none;
  align-self: center;
  font-size: 1.8vh;
  padding: 5%;
}

.banner-container {
  width: 100%;
  height: 25vh;
  overflow: hidden;
  position: relative;
}

.banner {
  width: 100%;
}

.banner-text {
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 2%;
  text-shadow: 2px 2px black;
}

.banner-text > * {
  margin: 1% 1%;
}

.row {
  margin: 1% 0;
  padding: 1%;
  box-shadow: 0px -3px 10px 0px var(--dark-color);
  font-weight: bolder;
}

.row h4 {
  margin: 0;
}

#row-1,
#row-3 {
  background-color: var(--light-color);
}

.product-row-container {
  display: flex;
  padding: 0;
  list-style-type: none;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.product img {
  border-radius: 2px;
  width: 100%;
}

.product {
  margin: 2%;
  font-size: 2vh;
  width: 25vh;
}

.product p {
  margin: 0;
}

.price {
  color: var(--medium-color);
  font-size: 2vh;
  /* text-shadow: 2px 2px var(--dark-color); */
  text-shadow: 2px 2px black;
}
