:root {
  --light-color: #fdf0d8;
  --medium-color: #f7c86b;
  --dark-color: #5c434d;
}

a:link {
  text-decoration: none;
  transition-duration: 500ms;
  color: var(--dark-color);
}

a:visited {
  text-decoration: none;
  color: var(--dark-color);
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.1);
}

a:active {
  text-decoration: none;
}

html {
  width: 100vw;
  font-family: "Arima", cursive;
}

body {
  margin: 0;
}

@media (max-width: 600px) {
  .search-and-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

header {
  padding: 1% 5%;
  display: flex;
  justify-content: space-between;
}

#logo-header {
  height: 15vh;
}

.search-bar {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid var(--dark-color) 1px;
  border-radius: 5px;
  padding: 1%;
}

#search-input {
  border: none;
  padding: 2%;
  width: 88%;
}

#loupe {
  height: 2vh;
  margin-right: 3%;
}

.login {
  background-color: var(--dark-color);
  color: var(--light-color);
  border-radius: 5px;
  border: none;
  width: 30%;
  padding: 2% 3%;
}

.banner-container {
  height: 30vh;
  background-image: url(./imgs/banner.jpg);
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.banner-text {
  color: var(--light-color);
  position: absolute;
  width: 100%;
  bottom: 5%;
  left: 2%;
}

.banner-text > * {
  margin: 1% 1%;
}

.row {
  padding: 1%;
  font-weight: bolder;
}

.row h4 {
  font-size: 2.5vh;
  margin: 2%;
  font-weight: bolder;
}

#row-1,
#row-3 {
  background-color: var(--light-color);
}

.product-row-container {
  display: flex;
  padding: 0;
  list-style-type: none;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.product img {
  border-radius: 2px;
  width: 100%;
  box-shadow: 1px 1px 3px var(--medium-color);
}

.product {
  margin: 2%;
  font-size: 2vh;
  width: 20vh;
}

.product p {
  margin: 0;
}

.price {
  color: var(--dark-color);
  font-size: 2vh;
  text-shadow: 1px 1px 5px var(--medium-color);
}
