html {
  font-family: "Arima", cursive;
}
.category-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  box-shadow: inset 0px 0px 2px 0px var(--dark-color);
}

.category-container p {
  margin: 0 5%;
}

.category-container :hover {
  cursor: pointer;
}

.categories-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  width: 100%;
  transition-duration: 500ms;
  max-height: 0px;
  overflow: hidden;
}

#mensaje-inicial {
  position: absolute;
  font-size: 5vh;
  width: 100%;
  top: 25%;
  text-align: center;
  transition-duration: 200ms;
}
.opened {
  max-height: 100% !important;
}

.products-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 2%;
  font-size: 1.5vh;
}
.product-list-item {
  margin: 1%;
}

.product-container {
  display: flex;
  width: 100%;
  padding: 3% 0;
  position: relative;
}

.selected-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  transition-duration: 500ms;
}

.product-info {
  width: 40%;
  list-style-type: none;
  padding: 1%;
  margin: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition-duration: 500ms;
}

.product-image {
  height: 25vh;
}

.product-title {
  font-size: 2vh;
}
.amount-input {
  font-weight: bolder;
  font-family: "Arima", cursive;
  border: none;
  background-color: var(--medium-color);
  width: 10%;
  font-size: 2vh;
  padding: 2%;
  text-align: center;
}

.cart {
  display: flex;
  align-items: center;
  padding: 5%;
  justify-content: center;
}

.cart > * {
  margin: 0 5%;
}

.add-to-cart {
  font-family: "Arima", cursive;
  border: none;
  background-color: var(--medium-color);
  font-size: 2vh;
  padding: 2% 8%;
  text-align: center;
}
